:root {
    --standard-link-colour: rgb(123, 218, 255);
    --current-link-colour: rgb(255, 37, 146);
}

@font-face {
    font-family: 'DroidSerif';
    src: url('../fonts/DroidSerif-Regular.ttf') format('truetype')
}

.link-colour {
    color: var(--standard-link-colour);
}

.current-link {
    color: var(--current-link-colour);
}

body {
    font-family: DroidSerif, serif;
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    color: #111;
}

main {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 1em;
}

h1 {
    font-size: 4.75rem;
    margin: 0.333em 0;
    line-height: 1.2;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.1em 0;
    min-height: 5.5em;
    background-color: #0f0f0f;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul a {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5em;
}


/* nav ul a:hover {
    color: rgb(13, 119, 219);
    ;
    text-decoration: none;
} */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.5em 0;
    box-shadow: 0 4px 6px rgb(0 0 0 / 0.3);
    border-radius: 6px;
}